body {
    box-sizing: border-box;
    margin: 0;
}

.custom-controls {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.custom-controls li {
    opacity: .8;
    transform: scale(.8);
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    transition: .3s;
}

.custom-controls li.active {
    opacity: 1;
    transform: scale(1);
}

.arrow-nav {
    display: flex;
    justify-content: space-around;
    margin: 20px 10px;
}

.arrow-nav button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    background: #FB5 url('../img/arrow.svg') center center no-repeat;
}

.arrow-nav button.prev {
    transform: rotate(-180deg);
}

.slide-wrapper {
    overflow: hidden;
}

.slide {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.slide li {
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0 20px;
    opacity: .8;
    transform: scale(.8);
    transition: .4s;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.slide li.active {
    opacity: 1;
    transform: scale(1);
}

.slide:hover {
    will-change: transform;
}

img {
    display: block;
    max-width: 100%;
}

[data-control="slide"] {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

[data-control="slide"] li {
    display: block;
    width: 12px;
    height: 12px;
    background: #FB5;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -999px;
    margin: 5px;
}

[data-control="slide"] li:hover, [data-control="slide"] li.active {
    cursor: pointer;
    background: #E54;
}
